.passGen
{
    border:1px solid blueviolet;
    width: 500px;
    height: 403px;
    box-shadow: 0 4px 30px rgb(218, 222, 250);
    backdrop-filter: blur(2px);
    border-radius: 10px;
    background-color: rgba(139, 46, 46, 0.178);
    color: white;
    position: relative;
    top: 21%;
    left: 22%;
    font-weight: bold;
    font-size: large;
}
.gen{
    background-image: url(./bcgimg.webp);
    width: 1068px;
    border:1px solid balck;
    height:691px;
    position:absolute;
    left:14%;
}
.pGtitle
{
    position: absolute;
    color: white;
    left:25%;
    top:5%;
    border:3px solid white;
    border-radius: 15px;
}
.pw{
    padding: 20px;
  margin-left: 100px;
  font-size: larger;
}
.formEl
{
    padding:20px;
    display: flex;
    justify-content: space-evenly;
}
#copy
{
    cursor: pointer;
    margin-left: 20px;
    transition: all 0.2s;
    font-weight: 800;
    background-color: aquamarine;
}
#copy:hover{
    background-color: yellow;
    font-weight: lighter;
}
.generator{
    width: 308px;
  padding: 5px;
  position: absolute;
  left: 19%;
}
.generator:hover
{
    transition: all 0.1s;
    cursor:pointer;
    font-weight: bold;
    color: red;
}